.all-exp-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #EEEEEE;
}

.all-exp-head h1{
    margin-left: 10px;
    color: #333333;
    font-family: 'Lato';
    font-size: 24px;
}


.all-exp-head button{
    margin-right: 10px;
    color: white;
    font-family: 'Lato';
    font-size: 15px;
    background-color: #FF652F;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.all-exp-head button:hover{
    background-color: #f54b0d;
}

.exp-all-container {
    display: flex;
    flex-direction: column;
    height: auto;
    cursor: pointer;
}

.exp-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.exp-item:hover #del-exp {
    display: inline-block;
}

#del-exp {
    display: none;
    border: none;
    background-color: transparent;
}

#del-exp:hover {
    border-bottom: 3px solid red;
    width: 30px;
}

.exp-left {
    display: flex;
    align-items: center;
}

#exp-date {
    width: 50px;
    font-family: 'Lato';
    font-size: 14px;
    color: #999999;
}

#exp-date strong {
    text-decoration: underline;
}

.exp-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 30px;
    margin-right: 10px; 
    padding-left: 20px;
}

.who-who {
    display: flex;
    width: 60%;
    font-family: 'Lato';
}

.bo-hoo {
    width: 50%;
    text-align: end;
    padding-right: 10px;
}

.yours {
    width: 50%;
    text-align: start;
    padding-left: 10px;
}

#payer-name {
    color: #999999;
    font-size: 14px;
}

#paid-amount {
    font-weight: bold;
}



.hidden-texts {
    padding: 5px 0px 5px 10px ;
    font-family: 'Lato';
    font-size: 12px;
    color: steelblue;
}

.hidden-strong {
    font-weight: bold;
}

.hidden-expense-divider {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.hidden-expense-divider div {
    justify-content: center;
}


.edit-btn {
    margin-right: 10px;
    color: white;
    font-family: 'Lato';
    font-size: 12px;
    background-color: #FF652F;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.edit-btn:hover {
    background-color: #f54b0d;
}