.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.left-console {
    width: 15%;
}

.middle-console {
    border: 1px solid #cccccc;
    width: 40%;
    font-family: 'Lato';
    z-index: 9;
}

.dash-header {
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
}

.top-dash-head h1 {
    font-size: 24px;
    padding: 0px 0px 0px 5px;
    font-weight: bold;
}

.dash-opt-btn{
    color: white;
    font-size: 15px;
    padding: 9px 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#add-expense-btn {
    background-color: #FF652F;
    text-shadow: 0 -1px 0 #c83400;
}

#settle-btn {
    background-color: #5BC5A7;
    text-shadow: 0 -1px 0 #318970;
}

.dash-opt-btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.top-dash-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #EEEEEE;
    padding: 13px 10px 10px;
}

.header-balances {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    color: #999999;
    background-color: #EEEEEE;
    padding: 7px 0px 2px;
    border-top: 1px solid #cccccc;
}

.header-balances div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 33%;
    text-align: center;
    border-right: 1px solid #cccccc;
}

.hd-blnc {
    font-size: 13px;
    font-family: 'Lato';
}

#head-blnc-right {
    border-right: none;
}

.owe-owed {
    height: 800px;
    display: flex;
    flex-direction: column;
}

#owe-owed-header {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato';
    font-size: 14px;
    color: #999999;
    margin: 0px 6px 0px 6px;
}

#owe-btm-cont {
    display: flex;
    justify-content: space-between;
}
#owe-btm-cont div {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    padding-left: 10px;
}

#owe-btm-left {
    border-right: 1px solid #999999;
}

.frd_name {
    font-size: 16px;
    color: #000000;
}

.frd-owe {
    font-size: 13px;
    color: #FF652F;
}

.frd-owed {
    font-size: 13px;
    color: #5BC5A7;
}

.right-console {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    width: 15%;
    font-family: 'Lato';
    margin-left: 13px;
}

.right-console h2 {
    color: #999999;
    font-size: 13px;
    text-align: left;
    margin: 20px 0px 0px;
}

.right-console p {
    color: #333333;
    font-size: 13px;
    text-align: left;
}

.right-console img {
    width: 150px;
    margin: 10px 0px 5px;
}