.frd-hd-show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #EEEEEE;
}

.frd-hd-show h1{
    margin-left: 10px;
    color: #333333;
    font-family: 'Lato';
    font-size: 24px;
}

.frd-show-btns button{
    margin-right: 10px;
    color: white;
    font-family: 'Lato';
    font-size: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

#frd-show-btn1 {
    background-color: #FF652F
}
#frd-show-btn1:hover {
    background-color: #f54b0d
}

#frd-show-btn2 {
    background-color: #5BC5A7
}
#frd-show-btn2:hover {
    background-color: #00c48c
}

.bal-rel-div {
    height: 35px;
    font-family: 'Lato';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(216, 214, 214);
}

#i-owe-you-money {
    color: #FF652F;
}

#you-owe-me-money {
    color: #5BC5A7;
}