.splash-all {
    display: flex;
    flex-direction: column;
}

.splash-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    font-family: 'Montserrat';
    margin: 0 auto;
}

.splash-main {
    display: flex;
    flex-direction: row;
    height: 35%;
    background-image: image-url('background.png');
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}

.main-pad {
    display: flex;
    flex-direction: column;
    padding: 20px 120px;
    height: 50%;
    justify-content: space-between;
}

.main-text h3 {
    font-size: 40px;
    font-weight: bold;
}

#on-trips {
    color: #1CC29F;
}

.main-text p {
    font-size: 18px;
}

.splash-below {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
}

.splash-features {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    padding-top: 3%;
}

.splash-features h5 {
    font-size: 24px;
    font-weight: bolder;
    z-index: 2;
}

.splash-features p {
    width: 50%;
    font-size: 18px;
}

.splash-img{
    width: 55%;
    height: 80%;
}

.main-img {
    display: flex;
    align-items: center;
    width: 40%;
}

#main-img {
    width: 75%;
}


#last-img {
    width: 50%;
}

#track-balances {
    background-image: image-url('background1.png');
}

#org-exp {
    background-image: image-url('background2.png');
}

#add-exp {
    background-image: image-url('background3.png');
}

#pay-back {
    background-image: image-url('background1.png');
}

#splash-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lato';
    background-color: antiquewhite;
}

.footer-relative {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-titles {
    padding-bottom: 4px;
    font-size: 14px;
    color: #1CC29F;
    font-family: 'Lato';
    font-weight: bolder;
}

.footer-links {
    padding-bottom: 3px;
    font-size: 14px;
    color: #52595F;
}
.footer-links:hover {
    background-color: #52595F;  
    color: white;
}

.footer-disclaimer {
    font-size: 12px;
    width: 250px;
    margin-right: 100px;
}