.splash-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 32px;
    height: 50px;
    width: 80%;
    font: 16px;
    font-weight: bolder;
}

.splash-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    padding: 20px;
}


#spash-splitzies {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 20px;
}

button {
    cursor: pointer;
    border-radius: 10%;
}

#splash-signup {
    background-color: #1CC29F;
    color: white;
    border: none;
    font-weight: bolder;
}

#splash-login {
    color: #1CC29F;
    background-color: transparent;
    border: none;
    font-weight: bolder;
}

#logo {
    height: 50px;
}
.logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}